{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-underscore-dangle": 0,
    "quotes": [2, "single"],
    "comma-dangle": "always"
  }
}